html {
    font-size: 1.2em;
    color: rgb(226, 226, 226);
}

body {
    background-color: rgb(179, 102, 102);
    width: 100%;
    margin: 0,auto
}

html, body {
    margin:0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

nav {
    height: 2.5rem;
    display: flex;
}

nav, ul {
    padding: 0;
    flex: 5;
    display: flex;
}

.itemul {
    display: inline;
    text-align: center;
    flex: 1;
}

nav, a{
    display: inline-block;
    color: #ff9393;
}

nav, a:hover{
    display: inline-block;
    color: #FF00FF;
}

nav, form {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

main {
    display: flex;
}

table {
    text-align: center;
    margin: auto auto;
}

table, tr, th {
    border: 1px solid #000000;
}

table, tr, td {
    border: 1px solid #000000;
}

.procedimiento {
    width: 60%;
    margin: 0 auto;
}

.itemol{
    margin: auto auto;
    text-align: left;
}

img {
    display: flex;
    margin: auto auto;
}

main, article, p {
    margin: auto auto;
    text-align: center;
}

.articulo {
    height: 5em;
}
iframe {
    display: flex;
    margin: auto auto;
}
footer{
    display: flex;
}

footer, p {
    margin: auto;
}